.grid-layout {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
    grid-template-columns: 600px 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
    height: 100vh;
    overflow: hidden;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInAnimation 1s forwards;
}

@keyframes fadeInAnimation {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    background-color: transparent;
}

.logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.text-part {
    background-color: transparent;
    color: #ffffff;
    font-weight: 600;
}

.me-part {
    color: #01dafa;
    font-weight: 700;
}

.dot-part {
    color: #1b58fe;
    font-weight: 700;
}

aside {
    grid-area: sidebar;
    background: transparent;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 0;
}


main {
    grid-area: main;
    background: transparent;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    min-height: 0;
    overflow: hidden;
}

main img {
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.5));
    border-radius: 20%;
    max-width: 80%;
    max-height: 80%;
}

.main-text {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
footer {
    grid-area: footer;
    background-color: transparent;
    color: white;
    padding: 20px;
    text-align: center;
}