body{
    margin:0;
    height:100vh;
    overflow:hidden;

    background: radial-gradient(circle at center,#1850fe,black);
    background-size:120% 120%;

    animation: backgroundReveal 6s ease forwards
}

@keyframes backgroundReveal{

    0%{
        filter: brightness(0) blur(30px);
    }

    100%{
        filter: brightness(1) blur(0);
    }

}

