@{
    ViewData["Title"] = "About Me";
}

<dev>
    
    <h1>@ViewData["Title"]</h1>
    
    <span>

        <p>
            <strong>Я</strong> — начинающий, но целеустремлённый разработчик, который активно развивается в сфере веб-разработки и современных технологий.<br/> 
            Мне интересно не просто писать код, а понимать, как и почему всё работает — от логики серверной части до взаимодействия с интерфейсом пользователя.

            Работаю с <strong>C#</strong>, <strong>ASP.NET</strong>, <strong>JavaScript</strong> и <strong>React</strong>, изучаю архитектуры приложений, <strong>принципы ООП</strong> и современные подходы к разработке.<br /> 
            Стараюсь писать чистый, понятный и поддерживаемый код, постоянно улучшая свои навыки и подход к проектированию.

            Открыт к новым знаниям, практическому опыту и интересным проектам. Ценю развитие, системное мышление и качественный результат.<br />
   
            Помимо программирования, я увлекаюсь футболом, MMA, музыкой, сериалами и фильмами. Эти интересы помогают мне развивать стратегическое мышление, концентрацию и вдохновение для работы над проектами.

            Стараюсь сочетать творческий подход и системное мышление в своих проектах и всегда открыт к новым идеям и интересным задачам.

        </p>
    </span>

</dev>
