@model ContactViewModel
@{
    ViewData["Title"] = "Gallery";
}


<div>
    <h1>Contact Me</h1>

    <form asp-action="SendMessage" method="post">
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Text"></label>
            <input asp-for="Text" />
            <span asp-validation-for="Text"></span>
        </div>
        
        <button type="submit">Submit</button>
        </form>
</div>

