@{
    ViewData["Title"] = "Contact";
}

<div>
    <section class="contact-section">
        <div class="contact-container">
            <h2 class="contact-title">Let’s connect</h2>
            <p class="contact-subtitle">
                Есть идея, проект или просто хочешь написать — выбирай удобный способ.
            </p>

            <div class="contact-links">
                <a href="https://instagram.com/alv.vaqif" target="_blank" class="contact-card">
                    <span class="icon">📸</span>
                    <div>
                        <h3>Instagram</h3>
                        <p>Лайфстайл и закулисье</p>
                    </div>
                </a>

                <a href="https://t.me/vg_al" target="_blank" class="contact-card">
                    <span class="icon">✈️</span>
                    <div>
                        <h3>Telegram</h3>
                        <p>Быстро и по делу</p>
                    </div>
                </a>

                <a href="tel:+994705555998" class="contact-card">
                    <span class="icon">📞</span>
                    <div>
                        <h3>Phone:+994705555998</h3>
                        <p>Для серьёзных вопросов</p>
                    </div>
                </a>
            </div>
        </div>
    </section>

</div>