@{
    ViewData["Title"] = "Gallery";
}

<div>
    

    <h1>@ViewData["Title"]</h1>
    <img src="~/Pictures/download.jpg" style="width:200px;height:300px" />
    <img src="~/Pictures/photo_2026-01-18_01-05-26.jpg" style="width:200px;height:300px"/>
    <img src="~/Pictures/photo_2026-01-18_01-15-40.jpg" style="width:200px;height:300px"/>
    <img src="~/Pictures/WhatsApp Image 2026-01-18 at 1.019.54 AM.jpeg" style="width:200px;height:300px"/>
    <img src="~/Pictures/WhatsApp Image 2026-01-18 at 1.09.54 AM.jpeg" style="width:200px;height:300px"/>
    <img src="~/Pictures/WhatsApp Image 2026-01-18 at 1.09.55 AM.jpeg" style="width:200px;height:300px"/>

</div>
